<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/style/style.css" />
  <script src="https://kit.fontawesome.com/e29cb68718.js" crossorigin="anonymous" async></script>
  <title>Community Resilience Wildfire Scorecard</title>
</head>

<body>
  <div id="pageName" hidden>/</div>
  <div id="header-row" name="header-row">
  </div>
  <div class="banner-container">
    <img class="banner-image" src="/assets/images/Canada June 2023 wildfire - h_11.03339173.jpg" alt="Banner Image">
    <div class="banner-text-right">Canada Wildfires Burning <br> June 2023</div>
    <div class="banner-text-left">
      Community Wildfire Resilience Scorecard <br> Released for Piloting
    </div>
  </div>
  
  <button id="hamburger2" aria-expanded="false" onclick="toggleAdvHamburger()">
     <i class="fa-solid fa-bars" aria-hidden="true"></i> MENU
  </button>
  
  <div class="advanced-navbar">
    <a href="#card1">Announcement</a>
    <a href="#card2">Assess Risk</a>
    <a href="#card3">Collaborate</a>
    <a href="#card4">Details</a>
    <a href="#card5">Support</a>
    <a href="#card6">Feedback</a>
    <a href="#card7">Contribute</a>
    <a href="#card8">Subscribe</a>
    <!-- Add more links for each card -->
  </div>
  <dialog id="form-dialog">
    <button autofocus style="float: right;">Close</button><br>
    <p id="submit-status-message">Form Dialog</p>
  </dialog>
  <div class="modal fade" id="formPopup" tabindex="-1" role="dialog" data-backdrop="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="formTitle"></h4>
          <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close" onclick="closeFormPopup()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="form-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal"  onclick="closeFormPopup()">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="card-container container-fluid">
    <!-- Card 1 -->
    <div id="card1" class="card-box">
      <div class="card-content">
        <div class="card-title">
          <h2 id="card1-title">Announcing the Community Wildfire Resilience Scorecard</h2>
        </div>
        <div class="card-text">
          <h5>Empower Communities to Assess Wildfire Risk, Boost Preparedness</h5>
          <p>Global Rollout Kicks Off With Pilot Program to Test Methodology. <a href="#card3">Participants Wanted</a>.
          </p>
          <p>In partnership with ARISE-US / CrowdDoing Catastrophic Wildfire Prevention & Consortium (CWPC), the Scorecard 
            has been published on the United Nations’ 
          Disaster Risk & Resilience (UNDRR), Prevention Web site:  
          <a href="https://www.preventionweb.net/publication/wildfire-resilience-scorecard" target="_blank" rel="noopener noreferrer">
            ARISE-US Press Release</a> and ARISE Global Press Release.
         </p> 
         <p>
          <a href="https://www.ariseglobalnetwork.org/news/igniting-resilience-wildfire-disaster-risk-reduction-scorecard" target="_blank" rel="noopener noreferrer">
            Igniting Resilience with the Wildfire Disaster Risk Reduction Scorecard | ARISE
          </a>
          </p>
          </div>
           <img class= "card-image" src="assets/images/Community Wildfire Resilience Scorecard - Prevention Web - 2023-08-24_10-19-59.jpg">
        </div>
    </div>
  
    <!-- Card 2 -->
    <div id="card2" class="card-box">
      <div class="card-content">
        <div class="card-title"><h2 id="card2-title">Assess Wildfire Risk and Readiness in Your Area</h2></div>
        <div class="card-text">
          <p>The ARISE-US/CrowdDoing CWP&C Community Wildfire Resilience Scorecard framework incorporates cutting-edge resilience principles and a diverse range of readiness factors.</p>
          <p>The scorecard prepares a community to develop a prioritized action plan to substantially reduce wildfire risks through integrated planning, mitigation and governance.</p>
        </div>
          <br>
        <img class="card-image" src="assets/images/ScorecardE10wlogos.png"/>
        <button class="card-button" id="card2-button" data-toggle="modal" data-target="#formPopup" onclick="openFormPopup('download')">Download the scorecard</button>
      </div>
      <div class="card-content">
        <div class="card-title">Need a zip file extraction tool?</div>
        <div class="card-btn-group">
          <div class="fa-icon">
            <a href="https://www.7-zip.org/download.html" title="Windows">
              <i class="fa-brands fa-windows fa-xl" alt="Windows"></i>
            </a>
          </div>
          <div class="fa-icon">
            <a href="https://www.7-zip.org/download.html" title="Mac">
              <i class="fa-brands fa-apple  fa-xl" aria-hidden="true"></i>
            </a>
          </div>
          <div class="fa-icon">
            <a href="https://www.7-zip.org/download.html" title="Linux">
              <i class="fa-brands fa-linux fa-xl" style="color: #ffffff;"></i>
            </a>
          </div>
        </div>
        <div class="card-text">Problems Downloading? <a href="#card4">Contact Us</a></div>
      </div>
    </div>

    <!-- Card 3 -->
    <div id="card3" class="card-box">
      <div class="card-content">
        <div class="card-title"><h2 id="card3-title">Collaborate With Us</h2></div>
        <figure>
          <img class="card-image" src="assets/images/ALDERC_3.jpg"/ style="margin-bottom: 4px;">
          <figcaption>Successful community pilot gathering in Aldercroft Heights with partners from the FireWise Council, 
            CAL FIRE, Guidewire and CWPC. The team is strategizing options to overcome owner's locked gates to ensure safe 
            alternative emergency evacuation.</figcaption>
        </figure>
        <div class="card-text">
          <p>The global rollout kicks off with a pilot program enabling communities worldwide to test and refine the Wildfire Resilience Scorecard.</p>
          <p>
          Pilot the Scorecard!<br>
          Multi-stakeholder collaboration is critical for preventing catastrophic wildfires.
          </p>
        </div>
        <button class="card-button" id="card3-button" data-toggle="modal" data-target="#formPopup" onclick="openFormPopup('collab')">Collaborate with Us</button>
      </div>
    </div>

    <!-- Card 4 -->
    <div id="card4" class="card-box">
      <div class="card-content">
        <div class="card-title"><h2 id="card4-title">Scorecard Details</h2></div>
        <div class="card-image">
          <img id="scorecard-image" src="assets/images/ScorecardDetails.png"/>
        </div>
        <div class="sub-card-box" id="whatScorecard">
          <div class="card-question">
            <h5>What is the Scorecard?</h5>
            <a href="#scorecard1" class="toggle-link"><i class="fa-solid fa-circle-plus fa-lg"></i></a>  
          </div>
          <div class="sub-card-text" id="scorecard1">
            <p>The Scorecard creates a baseline assessment of how a community is currently positioned through a set of questions that enables it to assess its wildfire resilience.</p>
            <p>The score enables measurement of a community's progress in moving forward, or  the impact of retrograde steps needed - for example how a community expands into the wildland urban interface (WUI).</p>
          </div>
        </div>
        <div class="sub-card-box" id="whyScorecard">
          <div class="card-question">
            <h5>Why do you need the Scorecard?</h5>
            <a href="#scorecard2" class="toggle-link"><i class="fa-solid fa-circle-plus fa-lg"></i></a>  
          </div>
          <div class="sub-card-text" id="scorecard2">
            <p>The Scorecard is intended to provide multiple benefits such as reduction in the likelihood and/or severity
               and extent of a potential wildfire occurring in your area; reduction in the risk of loss of life or injury,
                damage to property, loss of key services, harm to air and water quality in the community, to name just a few.</p>  
          </div>
        </div>
        <div class="sub-card-box" id="howScorecard">
          <div class="card-question">
            <h5>How do you use the Scorecard?</h5>
            <a href="#scorecard3" class="toggle-link"><i class="fa-solid fa-circle-plus fa-lg"></i></a>  
          </div>
          <div class="sub-card-text" id="scorecard3">
            <p>The Scorecard is designed to encourage holistic thinking about all the elements of wildfire hazard, exposure and vulnerability, at the property,  community and landscape scales.</p>
            <p>We suggest you start with what and who (Stakeholders) you have at hand, and use the results to embark on the  communication, persuasion and dialog required to bring other stakeholders into alignment and into action.</p>  
          </div>
        </div>
        <div class="sub-card-box" id="whoScorecard">
          <div class="card-question">
            <h5>Who is the Scorecard for?</h5>
            <a href="#scorecard4" class="toggle-link"><i class="fa-solid fa-circle-plus fa-lg"></i></a>  
          </div>
          <div class="sub-card-text" id="scorecard4">
            <p>Anyone in the community with direct or contingent responsibility for wildfire risk reduction through mitigation, adaptation, event response and post event recovery.</p>
            <p>Also neighborhood or other concerned community members' groups, probably with 
              expert assistance. You may not have responsibility or jurisdiction over issues raised 
              in the scorecard but at least know that issues exist and be prepared to advocate for 
              their resolution.</p>  
          </div>
        </div>
      </div>
    </div>
    
    <!-- Card 8 -->
    <div id="card8" class="card-box">
      <div class="card-content" id="subscribe">
        <div class="card-title"><h2 id="card8-title">Subscribe for Updates!</h2></div>
        <br>
        <form id="subscribeForm" method="POST" action="/submit-subscribe-form"> 
          <input type="hidden" name="pageName" id="" value="index">
        <div class="form-group">
          <label for="firstName" aria-required="true">First Name *:</label>
          <input type="text" id="firstName" name="firstName" required>
        </div>
        <div class="form-group">
          <label for="lastName">Last Name *:</label>
          <input type="text" id="lastName" name="lastName" required>
        </div>
        <div class="form-group">
          <label for="email">Email *:</label>
          <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
          <label for="zipCode">Zip/Postal Code *:</label>
          <input type="text" id="zipCode" name="zipCode" required>
        </div>      
        <input type="submit" class="card-button" value="Subscribe"/>
        </form>
      </div>
    </div>

     <!-- Card 6 -->
     <div id="card6" class="card-box">
      <div class="card-content">
        <div class="card-title"><h2 id="card6-title">Share Your Feedback & Learnings</h2></div>
        <div class="card-text">
          <h5>Support Creation of Global Best Practices</h5>
          <p>
            Help us improve the scorecard, send us feedback, collaborate and share learnings and best practices to accelerate our progress.
          </p>
           <p> Also share any feedback you have, whether it is for the web site, the scorecard, any processes, wildfires in general.  
          </p>
        </div>
        <button class="card-button" id="card6-button" data-toggle="modal" data-target="#formPopup" onclick="openFormPopup('feedback')">Feedback</button>
      </div>
    </div>
 
    <!-- Card 5 -->
    <div id="card5" class="card-box">
      <div class="card-content">
        <div class="card-title"><h2 id="card5-title">Need Scorecard Support? We can Help!</h2></div>
        <div class="card-text">
          <h5>Need assistance with the scorecard?</h5>
          <p>Schedule a meeting with us, together we can assess the best ways to support you.
          We offer workshops, webinars, on-the ground pilots and more.</p>
          <p>For more information please visit <a href="/faq"> Frequently Asked Questions (FAQs)</a> page.</p> 
        </div>
      <button class="card-button" id="card5-button" data-toggle="modal" data-target="#formPopup" onclick="openFormPopup('contact')">Contact Us</button>
      </div>
    </div>
     <!-- Card 7 -->
    <div id="card7" class="card-box">
      <div class="card-content">
        <div class="card-title"><h2 id="card7-title">Contribute to the Cause</h2></div>
        <div class="card-text">
         <p> We do invite reciprocity that can help us help future beneficiaries of this toolset by collaborating to improve it.</p>
          <p>To improve communities wildfire resilience overall through scorecard enhancements and adoption, ARISE-US/CrowdDoing CWP&C invite corporations and institutions to support this effort with.
        </p>
        </div>
        <button class="card-button" id="card7-button" data-toggle="modal" data-target="#formPopup" onclick="openFormPopup('support')">Support Wildfire Prevention</button>
      </div>
    </div>  
  </div>  

  <button id="back-to-top"><i class="fa-solid fa-circle-arrow-up fa-2xl"></i></button>

  <div id="footer-container"></div>
  
  <!-- page specific scripts -->
  <script src="/assets/javascript/footer.js"></script>
  <script src="/assets/javascript/header.js"></script>
  <script src="/assets/javascript/common.js"></script>
  <script type="text/javascript" src="https://api.useberry.com/integrations/liveUrl/scripts/useberryScript.js"></script> 

  <script>
    window.onload = (event) => {
      generateHeader("header-row");
      generateStandardFooter();
      switchNavActive();
    };
  </script>
</body>
</html>