@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@media all {
  body {
    margin: 0;
    font-family: 'Work Sans';
    /* background-color: #f6f6f6; */
    background-color: black;
  }

  header {
    display: grid;
    grid-template-columns: 0.4fr 2fr;
    padding: 15px;
    border-top: 7px solid #FFAC0D;
    border-bottom: 3px solid #197AFF;
  }

  .images-column {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .top-left-image {
    width: 5em;
    height: auto;
  }
  
  .top-right-image {
    width: 8.5em;
    height: auto;
  }
  
  .centered-image {
   width: 10em;
  }

  .content-column {
    grid-column: 2;
    display: flex;
    flex-direction: column;
  }

  #hamburger,
  #hamburger2 {
    display: none;
  }

  .global-navbar ul {
    align-items: flex-end;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    /* Align navigation to the right */
    font-weight: 700;
    font-size: large;
  }


  .global-navbar ul li {
    margin-left: 20px;
    /* Adjust margin for spacing */
  }

  .global-navbar a {
    text-decoration: #555;
    /* color: black; */
    color: white;
    /* font-weight: bold; */
  }

  .global-navbar a.active {
    color: #FFAC0D;
    /* Change to your desired active link color */
  }

  .title {
    margin-top: 6px;
    align-items: flex-start;
    /* text-align: center; */
    /* Center align title */
    margin-left: 17%;
  }

  .title h1 {
    color: #FF6701;
    margin: 0;
    align-items: baseline;
    font-weight: 500;
  }

  .title p {
    margin-top: 10px;
    color: #65a637;
    font-size: x-large;
    font-weight: 500;
  }

  .search-box {
    display: flex;
    margin-top: 5px;
  }

  .search-box input {
    /* padding: 5px; */
    margin-right: 5px;
  }

  .search-box button {
    /* padding: 5px; */
    background-color: #555;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  .welcome-container {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    text-align: center;
    background-color: #fff;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.834);
    margin-bottom: 10px;
  }
  .welcome-container h3{
    color: #FFAC0D;
  }

  .welcome-crowdoing {
    grid-column: 1;
    color: #fff;
    padding: 20px;
    /* border-bottom: 2px solid #2980b9; */
  }

  .welcome-arise {
    grid-column: 2;
    color: #fff;
    padding: 20px;
    /* border-bottom: 2px solid #2980b9; */
  }

  .banner-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
  }

  .banner-image {
    min-width: 100%;
    width: 100%;
    min-height: 500px;
    height: 500px;
    display: block;
  }

  .banner-text-right {
    position: absolute;
    top: 20px;
    right: 20px;
    color: whitesmoke;
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    border-radius: 8px;
  }

  .banner-text-left {
    position: absolute;
    bottom: 140px;
    left: 50px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    border-radius: 8px;
  }

  .advanced-navbar {
    background-color: #333;
    padding: 15px 0;
    text-align: center;
  }

  .advanced-navbar a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
  }

  .advanced-navbar a:hover {
    background-color: #555;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    /* background-color: #2f2e2e; */
  }

  .card-box {
    /* width: 50%; */
    width: calc(80% - 20px);
    margin: 20px;
    background-color: #000000;
    border-radius: 8px;
    border-color: #2f2e2e;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.332);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    flex: 0 1 calc(48% - 1em);
    align-items: flex-start;
  }

  .card-box:hover {
    transform: scale(1.05);
  }

  .card-content {
    padding: 20px;
  }

  .card-logo {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-right: 10px;
  }

  .card-title {
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    color: #f5f5f5;
  }

  .card-text {
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 15px;
    color: whitesmoke;
  }

  .card-text p {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 18px;
  }

  .card-text h5 {
    font-weight: 500;
    font-style: oblique;
    margin-bottom: 13px;
    color: #FFAC0D;
  }

  .card-image {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
  }

  .card-button {
    padding: 10px 20px;
    background-color: #0d72ff;

    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
    font-size: large;
    transition: background-color 0.3s ease-in-out;
    margin-top: 10px;
  }

  .card-button:hover {
    background-color: black;
  }

  .card-btn-group {
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
  }

  #card1-title,
  #card4-title,
  #card5-title {
    color: #FF6701;
  }

  #card2-title,
  #card8-title,
  #card7-title {
    color: #197AFF;
  }

  #card3-title,
  #card3-title,
  #card6-title {
    color: #65a637;
  }

  #card3-button,
  #card4-button,
  #card6-button {
    display: inline-block;
    background-color: #65a637;
  }

  #card5-button {
    display: inline-block;
    background-color: #FF6701;
  }

  #card2-button,
  #card8-button,
  #card7-button {
    display: inline-block;
    background-color: #197AFF;
  }

  #scorecard1 {
    display: none;
  }

  #scorecard2 {
    display: none;
  }

  #scorecard3 {
    display: none;
  }

  .sub-card-box {
    /* width:  */
    margin: 10px;
    background-color: #000000;
    border-radius: 8px;
    border-color: #2f2e2e;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.332);
    overflow: hidden;
    align-items: flex-start;
  }

  .card-question {
    margin: 10px 10px;
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    color: whitesmoke;
  }

  .card-question h5 {
    display: contents;
  }

  .toggle-link {
    color: #FF6701;
    margin-left: 20px;
  }

  .sub-card-text {
    padding-top: 4px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 17px;
    color: whitesmoke;
  }

  #scorecard-image{
    display: block;
    margin:auto;
  }

  .fa-icon {
    padding: 5%;
  }

  .fa-icon a {
    /* color: black; */
    color: whitesmoke;
    font-size: xx-large;
  }

  .fa-icon a:hover {
    color: blue;
  }

  .form-group {
    margin-bottom: 15px;
  }

  .form-group label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    text-align: left;
    color: white;
  }

  .form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f5f5f5;
  }

  .success-message {
    color: #4CAF50;
    margin-top: 10px;
  }

  .submit-btn {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }

  .submit-btn:hover {
    background-color: #2980b9;
  }

  #scorecard-container{
    padding: 20px;
  }

  #scorecard-container h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.2em;
    color: #FFAC0D;
  }
  #scorecard-container p{
    color: rgba(245, 245, 245, 0.879);
    font-size: 1.1em;
  }

  #news-container{
    padding: 20px;
  }

  #news-container h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.1em;
    color: #65a637;
  }
  .news-content{
    color: rgba(245, 245, 245, 0.879);
    font-size: 1.1em;
  }

  .about-welcome-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    text-align: left;
    background-color: #fff;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.834);
    margin-bottom: 10px;
  }
  .about-welcome-container h3{
    color: #FFAC0D;
  }
  .about-welcome-container p{
    font-size: 1.1em;
  }
  .about-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3.5%;
    color: #197AFF;
  }
  .about-title h5{
    color: rgba(245, 245, 245, 0.89);
  }

  .about-sub-title h1{
    display: flex;
    flex-direction: column;
    color: rgba(245, 245, 245, 0.89);
    /* margin: 10px; */
  }
  .author-container {
    display: flex;
    flex-wrap: wrap;
  }
  .author-box{
    width: calc(50% - 20px);
    margin: 20px;
    background-color: #000000;
    border-radius: 8px;
    border-color: #2f2e2e;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.332);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    flex: 0 1 calc(48% - 1em);
    align-items: flex-start;
  }
  .author-content{
    margin: 10px;
  }
  .author-title{
    display: grid;
    grid-template-columns: 0.6fr 2fr;
  }
  .author-image{
    grid-column: 1;
  }
  .author-image img{
    width: 100%;
    margin-bottom: 10px;
  }
  .author-info{
    grid-column: 2;
    margin: 10px 10px 10px 20px;
    color: rgba(245, 245, 245, 0.89);
  }
  .author-text{
    font-size: 1.1em;
    color: rgba(245, 245, 245, 0.89);
  }

  .colloborator-container,.team-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    text-align: left;
    background-color: #fff;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.834);
    margin: 10px;
    /* padding:10px; */
  }
  .author-collab,.web-team {
    grid-column: 1;
    color: #fff;
  }

  .reviewer-collab,.web-support {
    grid-column: 2;
    color: #fff;
  }
  .author-collab ul li,.web-team ul li,
  .reviewer-collab ul li,.web-support ul li {
    font-size: 1.1em;
    margin-top: 3px;
  }
  .author-collab h4,.web-team h4,
  .reviewer-collab h4,.web-support h4{
    color:#FFAC0D;
  }
  .fab {
    color: whitesmoke;
    font-size: x-large;  
  }
  a .fab:hover{
    color: #0d72ff;
  }

  #faq-container{
    padding: 20px;
  }

  #faq-container h1{
    /* color: white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.4em;
    color: #FFAC0D;
  }

  .faq-item {
    margin-bottom: 2em;
  }

  .question {
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    color:#f5f5f5;
  }

  .answer {
    font-size: 1.1em;
    margin-top: 10px;
    color:#f5f5f5
  }

  #scorecardInfographic{
    width: 100%;
  }
  #scorecardInfographic img{
    display: block;
    margin: auto;
    width: 80%;
    height: 100%;
    object-fit: cover;
  }

  #scorecard-info-container{
    padding: 20px;
    color: whitesmoke;
  }
  #scorecard-info-container ul{
    padding: inherit;
  }
  #scorecard-info-container h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.4em;
    color: #FFAC0D;
  }
  #scorecard-info-container h5{
    color: #FFAC0D;
  }

  #back-to-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: none;
    z-index: 10;
    border: none;
    background: transparent;
    font-size: x-large;
    color: #FF6701;
  }

  #footer-container{
    border-top:5px solid #65a637;
    border-bottom: 12px solid #FF6701;
  }

  .footer {
    /* background-color: rgb(216, 216, 216); */
    display: flex;
    background-color: black;
    color: #F6F6F6;
    padding: 20px;
    text-align: left;
    align-items: center;
  }

  .footer-column {
    width: 25%;
    box-sizing: border-box;
  }

  .footer-column h4 {
    color: #FFAC0D;
    font-weight: 600;
    font-size: 1.5em;
  }

  .footer-logo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  .social-icons {
    padding: 0;
  }

  .social-icons a {
    display: inline-block;
    margin-right: 10px;
    /* margin: 0 10px; */
    color: #F6F6F6;
    font-size: 1.5em;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }

  .social-icons a:hover {
    color: #3498db;
  }

  .copyright {
    margin-top: 20px;
    font-size: 1em;
  }

  .footer-links {
    /* margin-top: 10px; */
    list-style: none;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  ul li {
    padding: 0;
  }

  .footer-links a {
    font-size:1.1em;
    display: inline-block;
    color: #F6F6F6;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }

  .footer-links a:hover {
    color: #3498db;
  }
}


/* Media query for mobile devices (width < 550px) */
@media only screen and (max-width: 550px) {
  header {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }

  .images-column {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  .top-left-image {
    width: 4em;
    height: auto;
  }
  
  .top-right-image {
    width: 8em;
    height: auto;
  }
  
  .centered-image {
   width: 7em;
  }

  .content-column {
    align-items: end;
  }

  .title {
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .title h1 {
    font-size: x-large;
    margin: 0;
  }

  .title p {
    margin: 0;
    font-size: medium;
  }

  #hamburger {
    display: block;
    position: relative;
    order: 1;
  }

  .global-navbar {
    display: none;
  }

  .global-navbar ul li:first-child ul:nth-child(1) {
    border-right: none;
    border-bottom: var(--border);
  }

  .global-navbar.show {
    display: block;
    order: 1;
  }

  .global-navbar ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    align-items: stretch;
    row-gap: 0.25rem;
  }

  .global-navbar a {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 100;
    font-size: 1 rem;
    margin: 0;
  }

  .banner-container {
    display: block;
  }

  .banner-image {
    width: min-content;
    min-height: min-content;
    height: 250px;
  }

  .banner-text-right,
  .banner-text-left {
    font-size: 14px;
  }

  .banner-text-left {
    bottom: 50px;
    left: 10px;
  }
  .banner-text-right {
    right: 10px;
  }

  .welcome-container {
    display: block;
  }

  .welcome-container h3 {
    font-size: large;
    font-weight: bolder;
    text-align: center;
  }

  .welcome-container p {
    font-size: medium;
    text-align: left;
  }

  #hamburger2 {
    display: block;
    position: sticky;
    width: 100%;
    margin-bottom: 1%;
  }

  .advanced-navbar {
    display: none;
  }

  .advanced-navbar ul li:first-child ul:nth-child(1) {
    border-right: none;
    border-bottom: var(--border);
  }

  .advanced-navbar.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
  }

  .advanced-navbar a {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 100;
    font-size: 1 rem;
    margin: 0;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .card-box {
    width: calc(95% - 5px);
  }

  .card-text p {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 15px;
    color: whitesmoke;
  }

  .card-text h1 {
    font-size: 20px;
    font-weight: 500;
    font-style: oblique;
    margin-bottom: 13px;
  }

  .card-text h5 {
    font-size: 18px;
    font-weight: 500;
    font-style: oblique;
    margin-bottom: 13px;
    color: #FFAC0D;
  }

  .card-image {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
  }

  .card-button {
    padding: 10px 20px;
    background-color: #0d72ff;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
    font-size: medium;
    transition: background-color 0.3s ease-in-out;
    margin-top: 10px;
  }

  .card-button:hover {
    background-color: black;
  }

  .card-btn-group {
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
  }

  #scorecard-image {
    width: 15em;
    height: auto;
    display: block;
    margin: auto;
  }

  .card-question{
    font-size: 15px;
  }
  .sub-card-text p{
    font-size: medium;
    line-height: inherit;
  }

  #scorecardInfographic {
    position: relative;
    width: 150%;
  }
  #scorecardInfographic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-left: -20%;
  }

  .about-welcome-container{
    display: block;
    width: 100%;
    text-align: left;
    background-color: #fff;
    background-color: rgba(0, 0, 0, 0.834);
  }
  .about-welcome-container h3{
    font-size: 1.4em;
    color: #FFAC0D;
  }
  .about-welcome-container p{
    font-size: 1.1em;
  }
  .about-welcome-container .welcome-crowdoing,.about-welcome-container .welcome-arise{
    padding: 2px;
  }
  .about-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3.5%;
    color: #197AFF;
  }
  .about-title h5{
    font-size: 1.1em;
    color: rgba(245, 245, 245, 0.89);
  }

  .about-sub-title h1{
    display: flex;
    flex-direction: column;
    color: rgba(245, 245, 245, 0.89);
    font-size: 1.6em;
  }
  .author-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .author-box{
    width: calc(90% - 5px);
    background-color: #000000;
    border-radius: 8px;
    border-color: #2f2e2e;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.332);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    flex: 0 1 calc(48% - 1em);
    align-items: flex-start;
  }
  .author-title{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    justify-content: center;
    align-items: center;
  }
  .author-image{
    grid-column: 1;
  }
  .author-image img{
    width: 100%;
    margin-bottom: 10px;
  }
  .author-info{
    grid-column: 2;
    margin: 10px 10px 10px 20px;
    color: rgba(245, 245, 245, 0.89);
  }
  .author-text{
    font-size: 1.1em;
    color: rgba(245, 245, 245, 0.89);
  }

  .colloborator-container,.team-container {
    display: block;
    width: 100%;
    text-align: left;
    background-color: #fff;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.834);
    margin: 10px;
  }
  .author-collab,.web-team {
    grid-column: 1;
    color: #fff;
  }

  .reviewer-collab,.web-support {
    grid-column: 2;
    color: #fff;
  }
  .author-collab ul li,.web-team ul li,
  .reviewer-collab ul li,.web-support ul li {
    font-size: 1em;
    margin-top: 3px;
  }
  .author-collab h4,.web-team h4,
  .reviewer-collab h4,.web-support h4{
    color:#FFAC0D;
  }
  .fab {
    color: whitesmoke;
    font-size: x-large;  
  }
  a .fab:hover{
    color: #0d72ff;
  }

  .footer {
    display: flex;
    flex-direction: column;
  }
  
  .footer-column {
    align-items: center;
    width: 100%;
  }

  .footer-logo {
    /* width: 7em; */
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
  }

  .footer-column h4 {
    font-weight: 600;
    font-size: 1.5em;
  }
  .footer-links a {
    font-size: 1.1em;
  }
  .social-icons a{
    font-size: 1.3em;
  }

  .copyright {
    margin-top: 1.5%;
    margin-bottom:5%;
  }
}

@media only screen and (min-width:550px) and (max-width: 1024px) {
  header {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }

  .images-column {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  .top-left-image {
    width: 4em;
    height: auto;
  }
  
  .top-right-image {
    width: 9em;
    height: auto;
  }
  
  .centered-image {
   width: 8em;
  }

  .content-column {
    align-items: end;
  }

  .title {
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .title h1 {
    font-size: 2em;
    margin: 0;
  }

  .title p {
    margin: 0.8em;
    font-size: 1.2em;
  }

  #hamburger {
    display: block;
    position: relative;
    order:1;
  }

  .global-navbar {
    display: none;
  }

  .global-navbar ul li:first-child ul:nth-child(1) {
    border-right: none;
    border-bottom: var(--border);
  }

  .global-navbar.show {
    display: block;
    order: 1;
  }

  .global-navbar ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    align-items: stretch;
    row-gap: 0.25rem;
  }

  .global-navbar a {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 100;
    font-size: 1 rem;
    margin: 0;
  }


  .banner-container {
    display: block;
  }

  .banner-image {
    width: min-content;
    min-height: min-content;
    height: 250px;
  }

  .banner-text-right,
  .banner-text-left {
    font-size: 1.2em;
  }
  .banner-text-left {
    bottom: 2em;
    left: 2em;
  }
  .banner-text-right {
    right: 2em;
  }

  .welcome-container {
    display: block;
  }

  .welcome-container h3 {
    font-size: large;
    font-weight: bolder;
    text-align: center;
  }

  .welcome-container p {
    font-size: medium;
    text-align: left;
  }

  #hamburger2 {
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 1%;
  }

  .advanced-navbar {
    display: none;
  }

  .advanced-navbar ul li:first-child ul:nth-child(1) {
    border-right: none;
    border-bottom: var(--border);
  }

  .advanced-navbar.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
  }

  .advanced-navbar a {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 100;
    font-size: 1 rem;
    margin: 0;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .card-box {
    width: calc(95% - 5px);
  }

  .card-text p {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 1.1em;
    line-height: 1.8;
    margin-bottom: 15px;
    color: whitesmoke;
  }

  .card-text h1 {
    font-size: 20px;
    font-weight: 500;
    font-style: oblique;
    margin-bottom: 13px;
  }

  .card-text h5 {
    font-size: 1.2em;
    font-weight: 500;
    font-style: oblique;
    margin-bottom: 13px;
    color: #FFAC0D;
  }

  .card-image {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
  }

  .card-button {
    padding: 10px 20px;
    background-color: #0d72ff;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
    font-size: large;
    transition: background-color 0.3s ease-in-out;
    margin-top: 10px;
  }

  .card-button:hover {
    background-color: black;
  }

  .card-btn-group {
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
  }
 
  #scorecard-image {
    display: block;
    margin: auto;
  }

  .card-question{
    font-size: 1.1em;
  }
  .sub-card-text p{
    font-size: medium;
    line-height: inherit;
  }

  #scorecardInfographic {
    position: relative;
    width: 150%;
  }
  #scorecardInfographic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-left: -20%;
  }

  .about-welcome-container{
    display: block;
    width: 100%;
    text-align: left;
    background-color: #fff;
    background-color: rgba(0, 0, 0, 0.834);
  }
  .about-welcome-container h3{
    font-size: 1.4em;
    color: #FFAC0D;
  }
  .about-welcome-container p{
    font-size: 1.1em;
  }
  .about-welcome-container .welcome-crowdoing,.about-welcome-container .welcome-arise{
    padding: 2px;
  }
  .about-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3.5%;
    color: #197AFF;
  }
  .about-title h5{
    font-size: 1.1em;
    color: rgba(245, 245, 245, 0.89);
  }

  .about-sub-title h1{
    display: flex;
    flex-direction: column;
    color: rgba(245, 245, 245, 0.89);
    font-size: 1.6em;
  }
  .author-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .author-box{
    width: 95%;
    background-color: #000000;
    border-radius: 8px;
    border-color: #2f2e2e;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.332);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    flex: 0 1 calc(48% - 1em);
    align-items: flex-start;
  }
  .author-title{
    display: grid;
    grid-template-columns: 0.4fr 2fr;
    justify-content: center;
    align-items: center;
  }
  .author-image{
    grid-column: 1;
  }
  .author-image img{
    width: 100%;
    margin-bottom: 10px;
  }
  .author-info{
    grid-column: 2;
    margin: 10px 10px 10px 20px;
    color: rgba(245, 245, 245, 0.89);
  }
  .author-text{
    font-size: 1.1em;
    color: rgba(245, 245, 245, 0.89);
  }

  .colloborator-container,.team-container {
    display: block;
    width: 100%;
    text-align: left;
    background-color: #fff;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.834);
    margin: 10px;
  }
  .author-collab,.web-team {
    grid-column: 1;
    color: #fff;
  }

  .reviewer-collab,.web-support {
    grid-column: 2;
    color: #fff;
  }
  .author-collab ul li,.web-team ul li,
  .reviewer-collab ul li,.web-support ul li {
    font-size: 1em;
    margin-top: 3px;
  }
  .author-collab h4,.web-team h4,
  .reviewer-collab h4,.web-support h4{
    color:#FFAC0D;
  }
  .fab {
    color: whitesmoke;
    font-size: x-large;  
  }
  a .fab:hover{
    color: #0d72ff;
  }


  .footer {
    display: flex;
    flex-direction: column;
  }

  .footer-column {
    align-items: center;
    width: 100%;
  }

  .footer-logo {
    /* width: 7em; */
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
  }

  .footer-column h4 {
    font-weight: 600;
    font-size: 1.5em;
  }
  .footer-links a {
    font-size: 1.1em;
  }
  .social-icons a{
    font-size: 1.3em;
  }
  .copyright {
    margin-top: 1%;
    margin-bottom: 5%;
  }


}

@media screen and (min-width: 1024px) and (max-width: 1024px) {
  header {
    display: grid;
    grid-template-columns: 0.5fr 2.4fr;
  }

  .images-column {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  .top-left-image {
    width: 4em;
    height: auto;
  }
  
  .top-right-image {
    width: 6em;
    height: auto;
  }
  
  .centered-image {
   width: 8em;
  }

  .global-navbar ul {
    align-items: flex-start;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    /* Align navigation to the right */
    font-weight: 700;
    font-size: large;
  }
  .content-column {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
  }
  .title {
    padding: 0;
    margin-left: -3%;
    text-align: center;
  }
  #hamburger{
    display: block;
    margin-right: -8%;
  }
}

@media only screen and (min-width:1025px) and (max-width:1300px) {
  header {
    display: grid;
    grid-template-columns: 0.5fr 3fr;
  }

  .images-column {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  .top-left-image {
    width: 4em;
    height: auto;
  }
  
  .top-right-image {
    width: 6em;
    height: auto;
  }
  
  .centered-image {
   width: 8em;
  }

  .global-navbar ul {
    align-items: flex-start;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    /* Align navigation to the right */
    font-weight: 700;
    font-size: large;
  }
  #scorecard-image {
    display: block;
    margin: auto;
    width: auto;
    height: auto;
  }

  .footer {
    display: flex;
    flex-direction: row;
  }

  .footer > .footer-column:nth-child(n+1)  {
    margin-left: 2%;
  }

  .footer-column h4 {
    font-weight: 600;
    font-size: 1.5em;
  }
  .footer-links a {
    font-size: 1.1em;
  }
  .social-icons a{
    font-size: 1.3em;
  }
  .copyright {
    margin-top: 1%;
    margin-bottom: 5%;
  }

}