 @import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    color: #18181d;
    padding-left: 36px;
    padding-right: 36px;
    background-color: whitesmoke;
}

.row-container{
  display:inline-flex;
  /* justify-content:stretch;
  align-items:stretch; */
  padding:0;
  width:inherit;
}

.logo-box 
{
  display: flex;
  justify-content:left;
}

#search-and-company-name{
  display: flex;
  flex-direction:column;
 } 

#company-name-box{
  flex: 1;
  text-align:justify;
}
h1, p{
  display: block;
  align-items: center;
}
  
#contact-and-search-row{
  flex:1;
  text-align: right;
  cursor: pointer;
}
.search-form{
  display: inline-block;
  max-width: 20em;
  white-space: nowrap;
}

/* Style the search form */
#search-form-box form {
  display: inline-block;
  vertical-align: middle; /* Align the form vertically in the middle of the line */
}

#search-form-box button {
  padding: 5px 10px;
  color: #fff;
  border: none;
  cursor: pointer;
  vertical-align: middle; 
}

/* Add some hover effect to the button */
#search-form-box button:hover {
  background-color: #0056b3; /* Change to your preferred hover color */
}

.global-navbar {
  display: flex;
  justify-content: left;
  align-items:inherit; 
  width: 100%;
  background-color: #333;
  color: #fff; 
  padding: 10px 0px;
  text-transform: uppercase;
}


/* .global-navbar .nav-link.active {
  color: rgb(255, 128, 0);
  font-weight: bold;
} */

.width-100-pct {
  min-width: 100%;
  width:100%;
}

.align-top {
  vertical-align: top;
  padding: 0px;
  color: #ADD8E6; /*arman*/
  color:#18181d;
}

.banner {
  background-color: yellow;
  
}

.banner-image-container {
  min-width: 100%;
  width:100%;
  min-height: 500px;
  height: 500px; 
  /* border: 2px solid black;; */
  background-size: cover;
}


.homepage-header-box
{
  border: 3px solid black;
}

.hero-text-level-0
{
  font-size: xx-large;
  color: orange;
}

.hero-text-level-1
{
  font-size: x-large;
  color:white;
}

.image-text-0
{
  color: orange;
}


.hero-text-level-2
{
  font-size: large;
  color: blue;
}

.content-box
{
  background-color: whitesmoke; 
  padding-top: 3px;
  padding-left: 1em; 
  padding-right: 1em; 
  padding-bottom: 2em; 
  margin-bottom: 2em;
}

.content-box-header
{
  margin-bottom: 1em;

}
.content-box-header-headline
{
  text-align: center; 
  width:100%;
  font-size:x-large;
  font-weight: bold;
  color:blue;
}

.content-box-content
{
  font-size: medium;
  padding-top:.5em;
  padding-bottom: .5em;
}

.bg-system-pallette-a
{
  background-color: white;
}
.bg-system-pallette-c
{
  background-color: yellow;
}

.rs-card {
  _background-color:whitesmoke;
  width:100%;
  min-width:100%;
  margin-bottom: 2em;
  padding: 2px;
}

@media screen and (min-width: 818px) {
  .rs-card {
      width: 100%;
      min-width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .rs-card {
      width: 50%;
      min-width: 50%;
  }
}

/*
Navbar - Arman's code
*/

.navbar2{
  height: 80px; 
  position: sticky;
  top: 0;
  z-index: 1000;
}


.nav2 {
  display: flex;
  justify-content: left; /* Pushes the menu items to the left and right edges */
  align-items: inherit; 
  width: 100%;
  background-color: #333;
  color: #fff;
  /* font-size: 12px; */
  text-transform: uppercase;
  padding:10px 0px;
}

.nav-link {
  color: #fff; /* Replace 'your-desired-color' with the color you want */
}

.nav2 ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav2 li {
  margin: 0 12px; /* Adjust the spacing between menu items */
}

.nav2 a {
  text-decoration: none;
  color: #fff;
}

.nav2 a:hover {
  color: #f5f5f5; /* Change the color on hover if desired */
}


.cwpc{
  font-size: 16px;
}


#consistent-row{
  background-color: #ADD8E6;
}






 /*
  Claudia webflow file - hiral's code
  */
  /* body {
    grid-column-gap: 2em;
    grid-row-gap: 2.5em;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    color: #18181d;
    text-align: left;
    grid-auto-flow: row;
    align-items: center;
    font-family: 'Work Sans', sans-serif !important;
    font-size: 1em;
    line-height: 1.5em;
    width: 100%;
  } */
 
  .content16-left-column {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
  }

  .text-label {
    opacity: .7;
    text-transform: uppercase;
    margin-bottom: .6em;
    font-size: .7em;
    font-weight: 500;
    line-height: 1.2em;
    display: block;
}
.size1-text {
  white-space: normal;
  margin: .7em;
  font-size: 2.5em;
  font-weight: 500;
  line-height: 52px;
}

.size1-text.size1-top-clear {
  margin-top: 0;
}

.size1-text.size1-bottom-clear {
  margin-bottom: 0;
}

.size1-text.size1-full-clear {
  margin-top: 0;
  margin-bottom: 0;
}

  .paragraph-70 {
    opacity: .7;
    margin-bottom: 10px;
  }
  
  .paragraph-70.paragraph70-bottom-clear {
    margin-bottom: 0;
  }

  .button-text{
    color: var(--18181d);
    text-transform: uppercase;
    justify-content: flex-center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    text-decoration: none;
    display: flex;
  }
  
  .paragraph-heading{
    font-family: "Work Sans";
    font-weight:500; 
    font-size:21px;
  }
  .paragraph-heading{
    font-family: "Work Sans";
    font-weight:500; 
    font-size:21px;
  } 